.sheet.journal-entry.application .journal-sidebar .toc .h2 .heading-link {
  text-indent: var(--level-indent);
}
.sheet.journal-entry.application .journal-sidebar .toc .h4 .heading-link {
  text-indent: calc(3 * var(--level-indent));
}
.sheet.journal-entry.application .journal-sidebar .toc .h5 .heading-link {
  text-indent: calc(4 * var(--level-indent));
}
.sheet.journal-entry.application .journal-sidebar .toc .h6 .heading-link {
  text-indent: calc(5 * var(--level-indent));
}
.sheet.journal-entry.application .journal-sidebar .toc .h7 .heading-link {
  text-indent: calc(6 * var(--level-indent));
}
